@section Styles{

}
@section Scripts{
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    search: {
                        state:false,
                        vm: {
                            AppLog_Api: null,
                            AppLog_IP: null,
                            AppLog_Form: null,
                            AppLog_FormBody: null,
                            AppLog_QueryString: null
                        }
                    },
                    table: {
                        columns: [],
                        data: [],
                        page: 1,
                        rows: 15,
                        totalCount: 0,
                        selecteds: []//选中的行
                    }
                }
            },
            created: function () {
                this.findList();
            },
            mounted: function () {

            },
            methods: {
                //获取列表
                findList: function () {
                    var _this = this;
                    var path = `@Url.Action("FindList")/${_this.table.page}/${_this.table.rows}`;

                    hzyAdmin.post(path, _this.search.vm, function (r) {
                        if (r.status != 1) return;
                        _this.table.data = r.data.DataSource;
                        _this.table.totalCount = r.data.TotalCount;
                        _this.table.columns = r.data.Cols;
                    });
                },
                //重置
                reset: function () {
                    for (var item in this.search.vm) this.search.vm[item] = null;
                    this.findList();
                },
                //删除
                remove: function (id) {
                    var _this = this;
                    var ids = [];
                    if (id) {
                        ids.push(id);
                    } else {
                        var selecteds = this.table.selecteds;
                        if (selecteds.length == 0) return top.hzyAdmin.alert("请勾选要删除得数据!", "错误");
                        for (var i = 0; i < selecteds.length; i++) {
                            ids.push(selecteds[i]._ukid);
                        }
                    }
                    if (confirm("确定要删除吗?")) {
                        //请求接口删除
                        var path = `@Url.Action("Delete")`;

                        hzyAdmin.post(path, ids, function (r) {
                            if (r.status != 1) return;
                            top.hzyAdmin.alert("删除成功!", "成功");
                            _this.findList();
                        });
                    }
                },
                openForm: function (id) {
                    var path = `@Url.Action("Info")/${(id ? id : '')}`;
                    var _this = this;

                    hzyAdmin.openPage(id ? '编辑' : '新建', path, function () {
                        _this.findList();//刷新列表
                    }, 800, 800);
                }
            }
        });
    </script>
}
<div class="container-fluid" id="app">
    代码创建工具正在开发中
</div>