
@{
    ViewData["Title"] = "Chat";
    var _UserList = ViewBag.UserList as List<string>;
}
<div id="app">
    <div id="chat-content">
        <div class="chat-header hzy-header-skin-blue">
            <div class="row">
                <div class="col-sm-12 font-size-26">欢迎 {{ip}} 登录&nbsp;&nbsp;<span class="text-danger">(连接人数:{{userList.length}})</span></div>
            </div>
        </div>
        <div class="chat-panel">
            <div class="chat-panel-left">
                <ul>
                    <li v-for="item,index in userList"><i class="fas fa-user-secret"></i>&nbsp;{{item}}</li>
                </ul>
            </div>
            <div class="chat-panel-right">
                <textarea style="width:100%; border:0; background:#333; color:#fff;" rows="15" v-model="text" id="text" readonly></textarea>
            </div>
        </div>
        <div class="chat-footer">
            <textarea style="width:100%" rows="5" v-model="cmd" id="cmd"></textarea>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-block" @@click="send">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
<audio src="~/admin/audio/newMsg.wav" controls="controls" style="display:none;" id="newmsg"></audio>

@section Styles{
    <style type="text/css">
        #chat-content {
            width: 100%;
            height: 100%;
        }

        .chat-header {
            width: 100%;
            height: 60px;
            line-height: 60px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .chat-panel {
            width: 100%;
            height: 350px;
        }

        .chat-panel-left {
            width: 30%;
            float: left;
        }

            .chat-panel-left ul {
                padding: 0;
                margin: 0;
            }

                .chat-panel-left ul li {
                    width: 100%;
                    list-style: none;
                    padding: 10px 15px;
                    border-bottom: 1px solid #ccc;
                    font-size: 18px;
                }

        .chat-panel-right {
            width: 70%;
            float: left;
            border-left: 1px solid #ccc;
            height: 100%;
        }

        .chat-footer {
            width: 100%;
        }
    </style>
}
@section Scripts{
    <script src="~/admin/js/reconnecting-websocket.min.js"></script>
    <script src="~/admin/js/admin-websocket.js"></script>
    <script type="text/javascript">
        var _UserIP = '@ViewBag.IP';
        $(function () {
            //注意：parent 是 JS 自带的全局对象，可用于操作父页面
            //var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            //parent.layer.iframeAuto(index);
        });
        var app = new Vue({
            el: "#app",
            data: {
                userList: [],
                ip: _UserIP,
                cmd: '',
                text: '',
            },
            mounted: function () {//页面加载完成
                adminWebSocket.start({
                    Action: 'Register',
                    UserID: _UserIP,
                    Message: '注册'
                });
                this.load(function (r) {
                    app.text = app.text + r.oldMsg;
                });
            },
            //函数集合
            methods: {
                load: function (loadmsg) {
                    var loadUrl = "@Url.Action("ChatInit")";
                    admin.ajax({
                        url: loadUrl,
                        success: function (r) {
                            if (r.status == 1) {
                                if (loadmsg) loadmsg(r);
                                app.userList = r.userList;
                            }
                        }
                    });
                },
                send: function () {
                    if (!this.cmd) return;
                    adminWebSocket.send({
                        Action: 'SendAll',
                        UserID: _UserIP,
                        Message: this.cmd
                    });
                    this.cmd = '';
                },
                showMsg: function (_text) {
                    this.text = this.text + _text;
                    setTimeout(function () {
                        document.getElementById('text').scrollTop = document.getElementById('text').scrollHeight;
                    }, 300);

                    try {
                        setTimeout(function () {
                            //播放音频
                            var newmsg = $('#newmsg')[0];
                            if(newmsg) newmsg.play();
                        },500);
                    } catch (e) {
                        console.log('音频播放失败', e);
                    }


                }
            }
        });
    </script>

}