<!DOCTYPE HTML>
<html>

<head>
    <!--css-->
    <style type="text/css" media="screen">

        body {
            overflow: hidden;
        }

        .editor {
            height: calc(100vh + 15rem);
            width: 100%;
        }

        .page-aside-fixed .page-aside {
            top: 6.2rem;
        }
    </style>
    <!--js-->
    <script src="/website/libs/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="">
    <div class="page-aside-fixed page-aside-right site-contabs-open site-menubar-unfold" id="app">
        <div class="page animation-fade">
            <div class="page-aside">

                <div class="page-aside-switch">
                    <i class="icon wb-chevron-left" aria-hidden="true"></i>
                    <i class="icon wb-chevron-right" aria-hidden="true"></i>
                </div>

                <div class="page-aside-inner page-aside-scroll mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" data-plugin="mCustomScrollbar">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" tabindex="0" style="max-height: none;">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                            <div data-role="container">
                                <div data-role="content">
                                    <section class="page-aside-section">
                                        <div class="list-group">
                                            <a class="list-group-item" href="javascript:;" v-on:click="activeIndex=null" v-bind:class="{ active: activeIndex==null }">
                                                <i class="icon wb-folder" aria-hidden="true"></i>介绍
                                            </a>
                                            <a class="list-group-item" href="javascript:;" v-on:click="activeIndex='insert'" v-bind:class="{ active: activeIndex=='insert' }">
                                                <i class="icon wb-folder" aria-hidden="true"></i>插入
                                            </a>
                                            <a class="list-group-item" href="javascript:;" v-on:click="activeIndex='update'" v-bind:class="{ active: activeIndex=='update' }">
                                                <i class="icon wb-folder" aria-hidden="true"></i>修改
                                            </a>
                                            <a class="list-group-item" href="javascript:;" v-on:click="activeIndex='delete'" v-bind:class="{ active: activeIndex=='delete' }">
                                                <i class="icon wb-folder" aria-hidden="true"></i>删除
                                            </a>
                                            <a class="list-group-item" href="javascript:;" v-on:click="activeIndex='select'" v-bind:class="{ active: activeIndex=='select' }">
                                                <i class="icon wb-folder" aria-hidden="true"></i>查询
                                            </a>
                                            <a class="list-group-item" href="javascript:;" v-on:click="activeIndex='commit'" v-bind:class="{ active: activeIndex=='commit' }">
                                                <i class="icon wb-folder" aria-hidden="true"></i>事务
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 0px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 0px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                    </div>
                </div>
            </div>
            <!--strat-->
            <div class="page-main">
                <div class="page-content">
                    <div class="card" v-show="activeIndex==null">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Lambda（拉姆达）表达式 生产 SQL 语句 让 dapper 执行的 ORM</h2>
                                </div>
                                <div class="col-sm-6">
                                    <h2> <a target="_blank" href="https://gitee.com/hzy6/HzySql/tree/DbFrameOld/">源码</a></h2>
                                </div>
                            </div>
                            <pre>
1、第一步：

//SqlServer 程序启动时必须注册模型
DbContextSqlServer.Register("Server=.;Database=AppDB;User ID=sa;Password=123456;", (tabs) =>
{
    //注册表
    tabs.Register(typeof(Member));
    tabs.Register(typeof(int_tab));
    tabs.Register(typeof(Sys_User));
        .
        .
        .
});

2、实例化你所需的数据库

//PostgreSQL
//var postgreSql = new DbContextPostgreSQL("PostgreSQL Connection String");
//var _MemberModel = postgreSql.Find《Member》(w => w.t1.Member_ID == Guid.Empty);
//......

//Oracel
//var oracel = new DbContextOracle("Oracel Connection String");
//oracel.Insert《int_tab》(new int_tab { name = "hzy" });
//......

//MySql
//var mysqldb = new DbContextMySql("MySql Connection String");
//var Sql = mysqldb.Query《Member》().Top(5).ToSql();
//var sqlCode = Sql.Code.ToString();
//sqlCode = mysqldb.Query《Member》().OrderByDesc(w => w.t1.Member_CreateTime).TakePage(1, 20).ToSql().Code.ToString();
//......
</pre>
                        </div>
                    </div>
                    <!--insert-->
                    <pre class="editor" id="insert" v-show="activeIndex=='insert'">
//数据操作
var db = new DbContextSqlServer();

//插入一个 Model
var _Member = new Member();
_Member.Member_Birthday = DateTime.Now;
_Member.Member_Introduce = "111";
_Member.Member_Name = "wjf" + DateTime.Now;
_Member.Member_Num = "1";
_Member.Member_Phone = 123123123;
_Member.Member_Sex = "男";
_Member.Member_ID = Guid.Parse(db.Insert(_Member).ToString());

//只插入某几个字段
db.Insert(()=>new Member{
    Member_Name="hzy",
    Member_Birthday = DateTime.Now;
});

//使用插入对象操作 可得到sql对象 等等更多函数 详细请看源代码
var SqlObj = db.InsertObject(_Member);
//有一下Api
1、SqlObj.Execute();
2、SqlObj.ExecuteAsync();
3、SqlObj.IgnoreCols(.. IgnoreColumns);
4、SqlObj.IgnoreColsIF(条件,.. IgnoreColumns);
5、SqlObj.ToSql(key => Console.WriteLine(key));

更多函数支持请查询源码...</pre>
                    <!--update-->
                    <pre class="editor" id="update" v-show="activeIndex=='update'">
//数据操作
var db = new DbContextSqlServer();

var Key= Guid.Parse("711f10eb-97df-4888-86c1-fd4854511d27");

//更新 Model 所有字段
var _Member = new Member();
_Member.Member_Birthday = DateTime.Now;
_Member.Member_Introduce = "111";
_Member.Member_Name = "wjf" + DateTime.Now;
_Member.Member_Num = "1";
_Member.Member_Phone = 123123123;
_Member.Member_Sex = "男";
_Member.Member_ID = Key;
bool res= db.UpdateById(_Member);

//只更新某几个字段
bool res=db.Update(()=>new Member{
    Member_Name="hzy",
    Member_Birthday = DateTime.Now;
},w=>w.t1.Member_ID==Key);

//更新整个实体并且需要忽略字段  也可以在实体的某一个字段上添加忽略标记
var update = db
    .UpdateObject(_mem)
    .Where(w => w.t1.Member_ID == _mem.Member_ID)
    .IgnoreCols(w => w.Member_ID)
    .IgnoreCols(w => w.Member_Name)
    .IgnoreCols(w => w.Member_UserID)
    .IgnoreCols(w => w.Member_CreateTime)
    .IgnoreCols(w => w.Member_Sex)
    .ToSql();

//使用插入对象操作 可得到sql对象 等等更多函数 详细请看源代码
var SqlObj = db.UpdateObject(_Member);
//有一下Api
1、SqlObj.Execute();
2、SqlObj.ExecuteAsync();
3、SqlObj.IgnoreCols(.. IgnoreColumns);
4、SqlObj.IgnoreColsIF(条件,.. IgnoreColumns);
5、SqlObj.ToSql();
6、SqlObj.Where(条件);
7、SqlObj.WhereIF(条件);

//字段累加 值
 db.Update<Member>(w => new Member
{
    Member_Phone = w.Member_Phone + 10
}, w => w.t1.Member_ID == Key);

更多函数支持请查询源码...</pre>
                    <!--delete-->
                    <pre class="editor" id="delete" v-show="activeIndex=='delete'">
//数据操作
var db = new DbContextSqlServer();

var Key= Guid.Parse("711f10eb-97df-4888-86c1-fd4854511d27");

//根据主键删除
bool res=db.DeleteById《Member》(Key);

//根据其他条件删除
bool res=db.Delete《Member》(w=>w.t1.Member_Name=="hzy");

//使用删除对象操作 可得到sql对象 等等更多函数 详细请看源代码
var SqlObj = db.DeleteObject《Member》();
//有一下Api
1、SqlObj.Execute();
2、SqlObj.ExecuteAsync();
3、SqlObj.ToSql();
4、SqlObj.Where(条件);
5、SqlObj.WhereIF(条件);

更多函数支持请查询源码...
                            </pre>
                    <!--select-->
                    <pre class="editor" id="select" v-show="activeIndex=='select'">
//数据操作
var db = new DbContextSqlServer();

var Key= Guid.Parse("711f10eb-97df-4888-86c1-fd4854511d27");

//根据主键查询
Member res=db.FindById《Member》(Key);

//查询列表
List《Member》 list=db.FindList(w=>w.t1.Member_ID==Key);

//like 语句 "hzy%"=StartsWith("hzy") 、"%hzy"=EndsWith("hzy")
List《Member》 list=db.FindList(w=>w.t1.Member_ID==Key & w.t1.Member_Name.Contains("hzy"));

//In 和 Not 语句
var guids = new List《Guid》() { Guid.NewGuid(), Guid.NewGuid(), Guid.NewGuid() };
var query= db.Query().Where(w => w.In(w.t1.Member_ID, guids));// 语法 IN(1,2,3)
var query=db.Query().Where(w => w.NotIn(w.t1.Member_ID, guids));// 语法 NotIN(1,2,3)

//连表查询
 var query = db.Query《Member》()
            .Join《Sys_User》(w => w.t1.Member_UserID == w.t2.User_ID,这里默认LeftJoin 一般不写)
            .Where(w => w.t1.Member_Sex == "男")
            .OrderByDesc(w => w.t1.Member_CreateTime)
            //.OrderBy(w => w.t1.Member_CreateTime)
            .Select(w => new {
                w.t1, 
                w.t2.User_LoginName,
                SqlStr1="Case When {nameof(w.t1.Member_Name)}='hzy' then 'ok'  ",//case when then ...
                我是自定义列=null,
                我是别名=w.t1.Memeber_Name,
             });

//top 10
query.Top(10);

//分页
query.TakePage(1, 20);
query.TakePage(1, 20,out int Total);

//转换为对象
query.ToList();
query.ToList《dynamic》();
query.Count();
query.Frist();
query.Max();//.Max《int》(w => w.SqlStr《int》("convert(int,Member_Num)"));
query.Sum();
query.Min();

//使用sql字符串查询
List《Member》 list = db.Query《Member》("select * from Member with(nolock)").ToList();

更多函数支持请查询源码...
                            </pre>
                    <!--commit-->
                    <pre class="editor" id="commit" v-show="activeIndex=='commit'">
//数据操作
var db = new DbContextSqlServer();

//只要操作在 Commit 表达式内 则达到提交事务效果
db.Commit(() =>
{
    db.Insert...
    db.Update...
    db.Delete...
}

//还可以得到Sql 对象后在提交事务 例如:
db.Commit((li) =>
{
   var sql1= db.InsertObject...  .ToSql();
   var sql2= db.UpdateObject...  .ToSql();
   var sql3= db.DeleteObject...  .ToSql();

    li.Add(sql1);
    li.Add(sql2);
    li.Add(sql3);
}

更多函数支持请查询源码...
                            </pre>
                </div>
            </div>
            <!--end-->
        </div>
    </div>


    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                activeIndex: null
            },
            mounted: function () {//页面加载完成
                this.init();
            },
            //函数集合
            methods: {
                init: function () {
                    //insert
                    var insert = ace.edit("insert");
                    insert.setTheme("ace/theme/twilight");
                    insert.session.setMode("ace/mode/csharp");

                    //update
                    var update = ace.edit("update");
                    update.setTheme("ace/theme/twilight");
                    update.session.setMode("ace/mode/csharp");

                    //delete
                    var del = ace.edit("delete");
                    del.setTheme("ace/theme/twilight");
                    del.session.setMode("ace/mode/csharp");

                    //select
                    var select = ace.edit("select");
                    select.setTheme("ace/theme/twilight");
                    select.session.setMode("ace/mode/csharp");

                    //commit
                    var commit = ace.edit("commit");
                    commit.setTheme("ace/theme/twilight");
                    commit.session.setMode("ace/mode/csharp");

                }



            }
        });
    </script>

</body>

</html>