<!DOCTYPE HTML>
<html>

<head>
    <!--css-->
    <!--js-->
</head>

<body>

    <div class="page animation-fade">
        <div class="page-content">
            <div class="card" v-show="activeIndex==null">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>小弟个人开发者，谢谢大家的支持，交流群: 534584927</h1>
                        </div>
                        <div class="col-sm-6 offset-3 mt-50">
                            <div class="alert alert-danger" role="alert">
                                <a target="_black" href="/index.html" style="font-size:20px;font-weight:600;">点我预览一下 HzyAdminUI Vue 版本？</a><br /><br />
                                <a target="_blank" href="https://gitee.com/hzy6/hzyAdmin-Vue" style="font-size:16px;font-weight:600;">查看（下载）源码</a>
                            </div>
                            <div class="alert alert-primary mt-50" role="alert">
                                Core 下载地址(码云)：
                                <a target="_black" href="https://gitee.com/hzy6/HzyAdmin">https://gitee.com/hzy6/HzyAdmin</a>
                            </div>
                            <div class="alert alert-secondary" role="alert">
                                Mvc 5.0 下载地址(码云)：
                                <a target="_black" href="https://gitee.com/hzy6/HzyAdmin-Mvc5">https://gitee.com/hzy6/HzyAdmin-Mvc5</a>
                            </div>
                            <div class="alert alert-success" role="alert">
                                ORM HzySql（原DbFrame） 下载地址(码云)：
                                <a target="_black" href="https://gitee.com/hzy6/HzySql">https://gitee.com/hzy6/HzySql</a>
                            </div>
                            <!--<div class="alert alert-danger" role="alert">
        本网站源代码：
        <a target="_black" href="https://gitee.com/hzy6/DbFrame">下载</a>
    </div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end-->
    </div>

</body>

</html>